body {
    margin:0;
}

#contenedor {
	width: 100%;
	background: lightskyblue;
}

#contenedor h1 {
    color: white;
    padding: 10px;
}

nav {
    border-top: solid black 1px;
    background-color: yellowgreen;
    width:100%;
    color: black;
    padding: 10px;
    float:none;
}

ul {
    margin:0;
}

a {
    color: black;
    padding: 5px;
    display: block;
}

a:hover {
    color: white;
}

section {
    background-color: white;
    border-top: solid black 1px;
    padding: 10px;
    width: 100%;
    margin-left:0;
    float:none; 
}

aside {
    background-color: moccasin;
    border-top: solid black 1px;
    padding: 10px;
    width:100%;
    margin-left:0;
    float:none;
}