/* -------------------- Home --------------------- */

.logo_principal {
    height: 80px;
    width: 120px;
}

.titulo_principal {
    color: white;
    font-size: 30px;
    font-style: italic;
    font-weight: 100;
    display: inline-block;
    position: relative;
    padding-left: 10px;
    padding-right: 50px;
}

footer {
    background-color: #292b2c;
    color: white;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 1px;
    text-align: center;
}

.bienvenida {
    background-color: #e1ad74;
    color: black;
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.carousel-item {
    height: 350px;
    background-color: #e1ad74;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    height: 350px;
    object-fit: cover;
    overflow: hidden;
    object-position: 20% 19%;
}


/* -------------------- Servicios --------------------- */

.main_servicios {
    margin: 0;
    padding: 0;
}

.main_servicios .header h2 {
    width: 100%;
    height: 50px;
    background-color: #e1ad74;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 1px solid black;
}

.servicios {
    width: 95vw;
    margin: 0 auto;
}

.servicio {
    border: 1px solid black;
    border-radius: 0.7em;
    margin: 1em 0;
    padding: 1em;
    overflow: hidden;
    -webkit-box-shadow: 6px 10px 13px 1px rgba(94, 94, 94, 0.83);
    box-shadow: 6px 10px 13px 1px rgba(94, 94, 94, 0.83);
    background-color: #e1ad74;
}

.servicio img {
    width: 200px;
    height: 200px;
    border-radius: 0.8em;
    border: 1px solid black;
}

.servicio:nth-child(even) img {
    /*par*/
    float: right;
    margin: 0 0 0 1em;
}

.servicio:nth-child(even) .info {
    /*par*/
    float: left;
}

.servicio:nth-child(odd) img {
    /*impar*/
    float: left;
    margin: 0 1em 0 0;
}

.servicio:nth-child(odd) .info {
    /*impar*/
    float: right;
}

.servicio_h4 {
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0.8em;
    font-weight: 500;
}


/* -------------------- Novedades --------------------- */

.novedades {
    margin: 0;
    padding: 0;
}

.novedades .header h2 {
    width: 100%;
    height: 50px;
    background-color: #e1ad74;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 1px solid black;
}

.wrapper {
    display: flex;
    overflow: hidden;
    flex-flow: wrap;
    justify-content: flex-start;
}

.cards_wrap .card_item {
    padding: 15px 25px;
}

.cards_wrap .card_inner {
    border: 1px solid black;
    -webkit-box-shadow: 6px 10px 13px 1px rgba(94, 94, 94, 0.83);
    box-shadow: 6px 10px 13px 1px rgba(94, 94, 94, 0.83);
    background: #e1ad74;
    text-align: center;
    border-radius: 5px;
    padding: 35px 20px;
    width: 200px;
}

.cards_wrap .card_inner img {
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
}

.cards_wrap .card_inner .titulo {
    color: black;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards_wrap .card_inner .editorial {
    color: black;
    font-size: 15px;
    font-weight: 300;
    margin: 5px 0 10px;
}

.cards_wrap .card_inner .descripcion {
    font-size: 14px;
    line-height: 24px;
    color: black;
}


/* -------------------- Contacto --------------------- */

main .header h2 {
    width: 100%;
    height: 50px;
    background-color: #e1ad74;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 1px solid black;
}

.contacto {
    width: 85vw;
    margin: 0 auto;
}

form {
    margin-bottom: 15px;
}

.card-header {
    font-size: 20px;
    color: black;
    font-weight: 600;
}