/* ---------------- CSS CVMario ----------------- */

h4 {
    font-size: 20px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    font-weight: bold;
    color: green;
}

ul {
	background-color: yellow;
	width: 180px;
}

ol {
	background-color: yellowgreen;
	width: 180px;
}

#fotoCV {
    width:300px;
    height:300px;
    border-radius:150px;
}

#perfil {
    text-decoration: underline;
}

#contactarme {
	color: blue;
}

.nombre {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;    
}

.item_lista {
    color: blue;
    font-weight: bold;
}

.perfil {
	column-count: 2;
	column-gap: 15px;
	width: 500px;
	text-align: justify;
}

/* ---------------- CSS Formulario ----------------- */

#titulo_formulario {
    text-align: center;
}

form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
	box-shadow: 10px 10px 9px 6px rgba(0,0,0,0.76);
	-webkit-box-shadow: 10px 10px 9px 6px rgba(0,0,0,0.76);
	-moz-box-shadow: 10px 10px 9px 6px rgba(0,0,0,0.76);
}

form label{
	width:72px;
	font-weight:bold;
}

form input[type="text"], form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
}

form button[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:10px;
	color:#fff;
	background-color:#000;
	font-size: 15px;
} 

form button:hover{
	background-color:green;
    color:white;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize:none;
}
