#contenedor {
    border: solid 2px;
    display: flex;
    justify-content: space-between;
    
}

#cuadro1 {
    width: 100px;
    height: 100px;
    color: white;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cuadro2 {
    width: 100px;
    height: 100px;
    color: white;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center
}

#cuadro3 {
    width: 100px;
    height: 100px;
    color: white;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center
}